<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382143423531-urno6npri07k5h8vfk1al7f2etm2b2g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382143423531-urno6npri07k5h8vfk1al7f2etm2b2g6</string>
	<key>API_KEY</key>
	<string>AIzaSyCznb1JL7kuMXeN3tDSOFalStPysQ-dpEg</string>
	<key>GCM_SENDER_ID</key>
	<string>382143423531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.jonathansack.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-3cefd</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-3cefd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382143423531:ios:6d9a5444f7831eb68e766e</string>
	<key>DATABASE_URL</key>
	<string>https://artable-3cefd.firebaseio.com</string>
</dict>
</plist>